@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

* {
    text-decoration: none;
    font-family: "Poppins", sans-serif;
    padding: 0;
    margin: 0;
}

header{
    height: 70px;
}

header h1{
    display: block;
    float: left;
    padding: 15px 24px;
    text-transform: uppercase;
}

header h1 a:hover {
    color: #4d3c87;
}

header h1 a{
    transition: .2s;
}

header ul{
    float: right;
    font-weight: bold;
}

header ul li a:hover {
    color:salmon;
}

header ul li{
    padding: 24px;
    display: inline-block;
}

header ul li a{
    transition: .2s;
}

a{
    text-decoration: none;
}

body {
    background-image: url("img/background-img.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

header .container{
    width: 90%;
    margin:10px auto;
}

header .container::after{
    content: '';
    display: block;
    clear: both;
}

.container {
    display: flex;
    margin:5%;
    border-radius: 7px;
    background-color: #eaeaea;
    box-shadow: 0 0 15px#565656;
}

.container-left {
    padding-left: 30px;
    justify-content:start;
    display: grid;
}

.container-left h1{
    margin: 10px 0 0 0;
}
.container-left p{
    justify-content: start;
    display: grid;
    padding-right: 30px ;
}

.container-right {
    justify-content: end;
    display: flex;
}


.contact-button {
    background-color: black;
    color: #eaeaea;
    border-radius: 20px;
    padding: 10px px;
    font-size: 20px;
    cursor: pointer;
    margin:auto;
}

.contact-button:hover{
    background-color:#544e67;
}

.contact {
    justify-content:left;
    margin-right: 28px;
    float: right;
}

.contact2 {
    display: flex;
}

a {
    color: black;
}


.card {
    width: fit-content;
    margin: 5% 10% 5% auto;
    box-shadow: 0 0 15px #565656;
    border-radius: 10px;
    text-align: center;
    padding-bottom: 3px;
    align-items: center;
}

.title{
    font-weight: bold;
}


.medsos i {
    font-size: 50px;
    margin-right: 28px;
    color: black;
    display: inline-block;
    justify-content: left;
}

.medsos i:hover{
    color:#544e67;
}

.contactform {
    margin: 50px auto;
    width: 30%;
}

.contactform h1 {
    text-align: center;
}

.contactform form div {
    margin-top: 15px;
}

label {
    font-size: 20px;
}

input,
select,
textarea {
    background-color: #ffffff;
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border-radius: 10px;
    border: 1px solid #ffffff;
    box-shadow: 0 0 15px #9f9f9f;
    resize: none;
}

button{
    background-color: rgb(0, 0, 0);
        color: white;
        padding: 6px 25px;
        border: none;
        border-radius: 10px;
        margin-left: 77%;
        font-size: 15px;
        cursor: pointer;
        box-shadow: 0 0 15px #9f9f9f;
        margin-top: 20px ;
}

button:hover{
    background-color: #565656;
}

.blog-form{
    padding: 50px 0;
    display: flex;
    justify-content: center;
    /* background-color: salmon; */
    margin: 10px auto;
}

.blog-form .form-container{
    width: 60%;
}

.blog-form .form-container h1{
    text-align: center;
    margin-bottom: 40px;
}

.blog-form form label{
    font-size: 20px;
    font-weight: 400;
}

.mobile-menu{
    float: right;
    display: none;
    padding: 18px;
}

.blog-form form input,
textarea{
    width: 100%;
    font-size: 20px;
    font-weight: 400;
    padding: 8px;
    margin-top: 5px;
    margin-bottom: 20px;
    background: #f4f3f3;
    border: 1px solid #c4c4c4;
    border-radius: 8px;
    resize: none;
}

.blog-form form textarea{
    height: 250px;
}

.blog-form form .input-blog-image-group{
    width: 100%;
    font-size: 20px;
    font-weight: 400;
    padding: 8px;
    margin-top: 5px;
    margin-bottom: 20px;
    background: #f4f3f3;
    border: 1px solid #c4c4c4;
    border-radius: 8px;
    cursor: pointer;
}

.blog-form form .input-blog-image-group label p{
    font-size: 15px;
}

.blog-form form .input-blog-image-group label{
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.blog-form form .button-group{
    text-align: right;
}

.blog-form form button{
    margin-top: 10px;
    padding: 10px 20px;
    font-size: 17px;
    background: black;
    border-radius: 8px;
    border: none;
    color: #fff;
    cursor: pointer;
}

.blog .line{
    border: 1px solid #dbdbdb;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

.blog .blog-list{
    margin-top: 80px;
    margin-bottom: 80px;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.blog .blog-list .blog-list-item{
    width: 80%;
    padding: 15px;
    margin-bottom: 20px;
    border: 2px solid #dbdbdb;
    border-radius: 8px;
    display: flex;
    background-color: #eaeaea;
}

.blog .blog-list .blog-list-item .blog-image{
    flex: 1;
}

.blog .blog-list .blog-list-item .blog-image img{
    width: 100%;
    height: 300px;
    object-fit: cover;
}

.blog .blog-list .blog-list-item .blog-content{
    padding-left:20px ;
    flex: 2;
}

.blog .blog-list .btn-group{
    text-align: right;
    margin-bottom: 20px;
}

/* .blog .blog-list .btn-group .btn-edit{
    padding: 10px 40px;
    border: none;
    border-radius: 4px;
    background: #dbdbdb;
}

.blog .blog-list .btn-group .btn-delete{
    padding: 10px 40px;
    border: none;
    border-radius: 4px;
    background: #dbdbdb;
    color: white;
} */

.blog .blog-list h1 a{
    text-decoration: none;
    color: #000;
}

.blog .blog-list .detail-blog-content{
    font-weight: 300;
    font-size: 12px;
    line-height: 20px;
}

.blog .blog-list .blog-list-item p{
    margin-top: 20px;
    font-weight: normal;
    font-size: 14px;
    line-height: 20px;
    text-align: justify;
}

.blog-detail{
    display: flex;
    justify-content: center;
}

.blog-detail-container{
    width: 80%;
    margin:40px 0;
}

.blog-detail-container img{
    width: 100%;
}

.blog-detail-container h1{
    font-style: normal;
    font-weight: 800;
    font-size: 44px;
    line-height: 120%;
    margin-bottom: 15px;
}

.blog-detail-container .author{
    font-weight: 100;
    font-size: 20px;
    line-height: 120%;
    margin-bottom: 20px;
}

.blog-detail-container p{
    margin-top: 40px;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 140%;
    text-align: justify;
}

.mobile-menu:hover{
    cursor: pointer;
}

#check{
    display: none;
}

.sidebar{
    position: fixed;
    top: 0;
    bottom: 0;
    left:-300px;
    width: -300px;
    background-color: rgba(42, 58, 121, .9);
    transition: .3s;
    z-index: 9999;
}

.sidebar ul li a{
    color: #ffffff;
}

.sidebar ul li{
    padding: 24px;
    transition: .3s;
    transition-property: background-color;
}

.sidebar ul li a:hover{
    background-color: salmon;
}

#check:checked~.sidebar{
    left:0px;
}

@media (max-width:768px) {
    .mobile-menu    {
        display:block;
        overflow-x: hidden;
        white-space: no-wrap;
    }
}